JWT_PUBLIC_KEY={"k": "-----BEGIN PUBLIC KEY-----\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQB9xyKqIPqtf2kXaP4GtKd3\nnfKBPD2K3qsdbnQnxiUM/8mb9aJYWJPe/CB/myxhw/r4DBytdPv7yl1NJhogD4vS\nDXW8aBka9o8p/QfXVxJit4GQOSRyNvmTdSzPSMwR4eu9qPpVM8nolFjmzbgJrt7d\nTEKfby3Ceg3Yr45nKtkg2AJOR+NbqYXwFWQqFNpH3zmMedNpuU3r+SuwMF/Zm0NQ\nlSPYf3Zbv++FQa23Xr31GRRdEyc0j7MDJ086DZqw4XEbAfd2dCKMM8THxL1ijG4X\nUbpCt5y+v0Yv/BNVgqVmZu9DnFSGvelUCTHGkfFiJSgAVRgeiEim9//JxvHtkW8p\nAgMBAAE=\n-----END PUBLIC KEY-----"}
